<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="jibe.sdk.demo.jibebundletransfer"
      android:versionCode="1"
      android:versionName="1.0">

	<uses-permission android:name="android.permission.INTERNET" />

    <application android:icon="@drawable/app_logo" android:label="@string/app_name" android:name="jibe.sdk.demo.jibebundletransfer.JibeApplication">
        <activity android:name=".JibeBundleTransferDemo" android:label="@string/app_name"
                 android:launchMode="singleTop" android:screenOrientation="portrait">
            <intent-filter>
				<action android:name="jibe.intent.action.incomingDataSession.19d90f578c9b489b95bfb2cc21d5fb60"></action>
			</intent-filter>		
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
        
         <receiver android:name="jibe.sdk.demo.jibebundletransfer.SessionReceiver">
			<intent-filter>
				<action android:name="jibe.intent.action.incomingDataSession.19d90f578c9b489b95bfb2cc21d5fb60"></action>
			</intent-filter>		
		</receiver>

    </application>
</manifest>